body{
    margin: 0 auto;
    max-width: 1024px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: relative;
    margin: 15px 20px;
    background: rgb(231, 230, 230);
}

nav ul li{
    border-bottom: 1px solid black;
    
}

header nav ul li{
    display: inline-block;
    margin: 30px 15px;
    
}

.principal{
    text-align: center;
    background: blue;
    padding: 10px 0 0 10px;
}
.logo{
    /*reducir el tamaño*/
}

.menu{
    text-align: right;
    margin: 10;
    font-size: 14px;
    /*falta subrayar el texto*/
}

.seccion1{
    position: relative;
    background: white;
    border-radius: 12px;
    width: 75%;
    right: -23%;
    
   
    

}
.seccion1 img{
    width: 50px;
    height: 50px;
}
.caja1,.caja2,.caja3,.caja4{
    
    display: inline-block;
    border-radius: 12px;
    text-align: center;
    font-size: 15px;
}



.caja1{
    background: rgb(51, 199, 51);
    width: 180px;
    height: 160px;
    color: white;
    font-weight: 550;
}
.caja2{
    background: orange;
    width: 180px;
    height: 160px;
    color: white;
    font-weight: 550;
}
.caja3{
    background: purple;
    width: 180px;
    height: 160px;
    color: white;
    font-weight: 550;
}
.caja4{
    background: rgb(138, 29, 29);
    width: 180px;
    height: 160px;
    color: white;
    font-weight: 550;
}

.panel{
    display: inline-block;
    position: relative;
    background: rgb(58, 58, 228);
}

.pb1{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 50px;
    box-shadow: -10px -10px 50px 10px red,-10px,-10px 50px 0 blue inset;
}

.gra{
    
    width: 225px;
    height: 160px;
    display: inline-block;
    position: relative;
    font-size: 12px;
    
    
}

.azul{
    border: 1px solid blue;
    display: inline-block;
}
.amarillo{
    border: 1px solid yellow;
    display: inline-block;
}
.rojo{
    border: 1px solid red;
    display: inline-block;
}

#grafico{
  
    height: 50px;
    width: 225px;
}

.articulo2{
    
    
    
}

#input1{
    text-align: center;
    font-size: 22px;
    color: white;
    background: blue;
    
    
}
#input2{
   
    text-align: center;
    font-size: 22px;
    color: white;
    background: orange;
}
#input3{
   
    text-align: center;
    font-size: 22px;
    color: white;
    background: red;
}
#input1,#input2,#input3{
    width: 220px;
    border: none;
    
}
.user{
    background: rgba(3, 3, 68, 0.671);
    
    display: inline-block;
    text-align: center;
    height: 150px;
    width: 150px;

}
.user img{
    position:relative;
    bottom: -15%;
    right: -20%;
    border-radius: 90px;
    width:50%;
    height: 50%;
}
#mensaje{
    position: relative;
    bottom: -35%;
    left: -25%;
    background: rgba(108, 108, 238, 0.568);
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    padding: 6px 6px 6px 6px;
    font-size: 10px;
}

