/*Pseudoelementos

::first-letter - elementos bloque
::first-line -elementos bloque
::selection
::before
::after

*/

.titulo::first-letter{
    color: red;
    font-size: 50px;
}
.linea::first-letter{
    color: red;
}
.linea{
    display: block;
}

.texto::first-line{
    color: green;
}

.texto::selection{
    color: red;
    background: yellow;
}